<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="title">Buchungen</ui:define>
	
	<ui:define name="content">
		<table id="buchungTable">
			<tr>
				<th rowspan="2" >Ankunft</th>
				<th rowspan="2" >Abreise</th>
				<th colspan="5" >Konsumationen</th>
			</tr>
			<tr>
				<th>Datum</th>
				<th>Anzahl</th>
				<th>Preis</th>
				<th>Rabatt</th>
				<th>Beschreibung</th>
			</tr>
			<ui:repeat value="#{buchungenBean.buchungen}" var="buchung">
				<tr>
					<td>
						#{buchung.ankunft}
					</td>
					<td>
						#{buchung.abreise}
					</td>
					<td/><td/><td/><td/><td/>
				</tr>
				<ui:repeat var="position" value="#{buchung.positionen}">
					<tr>
						<td/><td/>
						<td>
							#{position.datum}
						</td>
						<td>
							#{position.anzahl}
						</td>
						<td>
							#{position.preis}
						</td>
						<td>
							#{position.rabatt}
						</td>
						<td>
							#{position.beschreibung}
						</td>
					</tr>
				</ui:repeat>
			</ui:repeat>
		</table>
	</ui:define>
</ui:composition>