<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="title">Kunden</ui:define>
	
	<ui:define name="content">
		<h:form>
			<h:outputLabel value="Datum" for="date" />
			<h:inputText class="datepicker" id="date" value="#{datumBean.date}" >
				<f:convertDateTime pattern="MM/dd/yyyy"/>
			</h:inputText>
			<h:commandButton value="Filter" >
				<f:ajax execute="@form" render="persBuchTable" listener="#{datumBean.filterList()}" />
			</h:commandButton>
			
			<h:dataTable id="persBuchTable" value="#{datumBean.personenBuchungen}" var="persBuch">
				<h:column>
					<f:facet name="header">Vorname</f:facet>
					#{persBuch.person.vorname}
				</h:column>
				<h:column>
					<f:facet name="header">Nachname</f:facet>
					#{persBuch.person.name}
				</h:column>
				<h:column>
					<f:facet name="header">Ankunft</f:facet>
					#{persBuch.ankunft}
				</h:column>
				<h:column>
					<f:facet name="header">Abreise</f:facet>
					#{persBuch.abreise}
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>