<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="title">Buchungen</ui:define>
	
	<ui:define name="content">
		<h:outputLink value="kunden.xhtml">Kundenliste mit Buchungen</h:outputLink>
		<h:outputLink value="datum.xhtml">Buchungen nach Datum</h:outputLink>
	</ui:define>
</ui:composition>