<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="title">Kunden</ui:define>
	
	<ui:define name="content">
		<h:form>
			<h:outputLabel value="Vorname" for="surname" />
			<h:inputText id="surname" value="#{kundenBean.surname}" >
				<f:ajax event="keyup" execute="@form" render="persTable" listener="#{kundenBean.filterList()}" />
			</h:inputText>
			<h:outputLabel value="Nachname" for="lastname" />
			<h:inputText id="lastname" styleClass="input" value="#{kundenBean.lastname}" >
				<f:ajax event="keyup" execute="@form" render="persTable" listener="#{kundenBean.filterList()}" />
			</h:inputText>
			
			<h:dataTable id="persTable" value="#{kundenBean.persons}" var="pers">
				<h:column>
					<f:facet name="header">Vorname</f:facet>
					#{pers.vorname}
				</h:column>
				<h:column>
					<f:facet name="header">Nachname</f:facet>
					#{pers.name}
				</h:column>
				<h:column>
					<f:facet name="header">Telefon</f:facet>
					#{pers.privattelefon}
				</h:column>
				<h:column>
					<f:facet name="header">Buchungen</f:facet>
					<h:outputLink value="buchungen.xhtml">
						<f:param name="kundenId" value="#{pers.id}" />
						<h:outputText value="search" />
					</h:outputLink>
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>