<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets" 
		xmlns:h="http://java.sun.com/jsf/html" 
		xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<link href="css/jquery-ui.min.css" rel="stylesheet"/>
		<script type="text/javascript" src="js/jquery-2.1.3.min.js" />
		<script type="text/javascript" src="js/jquery-ui.min.js"/>
		<script type="text/javascript" src="js/datepicker.js" />
		<title>Integration Hotel - <ui:insert name="title" /></title>
		<ui:insert name="sideTags" />
	</h:head>
	
	<h:body>
		<div class="container">
			<ui:insert name="content" />
		</div>
	</h:body>
</html>